<br>

# Introdução

In [1]:
import os
import re
import time
import random
import tabula
import requests
import numpy as np
import pandas as pd
import geopandas as gpd
from bs4 import BeautifulSoup

<br>

# Relatório

<br>

## Municípios Nomes

Lê o arquivo csv com o nome dos municípios

In [15]:
# Dataframe
df_mun = pd.read_csv(
    'https://raw.githubusercontent.com/michelmetran/sp/main/data/tabs/tab_municipio_nome.csv',
    usecols=['id_municipio', 'municipio_nome']
)
df_mun.head(3)

   id_municipio municipio_nome
0       3500105     Adamantina
1       3500204         Adolfo
2       3500303          Aguaí

<br>

## Municípios IDs

In [17]:
# Dataframe
df = pd.read_csv(
    os.path.join('data', 'tabs', 'input', 'tab_municipio_ids.csv'),
    usecols=['id_municipio', 'id_gaema', 'id_redeprotetiva'],
)
display(df.head(3))

# Merge Municípios
df = pd.merge(
    df_mun,
    df,    
    how='left',
    left_on='id_municipio',
    right_on='id_municipio',
)

# Results
display(df.head(3))

   id_municipio  id_gaema  id_redeprotetiva
0       3500105       NaN              11.0
1       3500204       NaN              10.0
2       3500303       NaN              14.0

   id_municipio municipio_nome  id_gaema  id_redeprotetiva
0       3500105     Adamantina       NaN              11.0
1       3500204         Adolfo       NaN              10.0
2       3500303          Aguaí       NaN              14.0

<br>

## Município GAEMAs

In [7]:
# Dataframe GAEMAs
df_gaema = pd.read_csv(os.path.join('data', 'tabs', 'input', 'tab_gaema.csv'))
display(df_gaema.head(3))

# Merge GAEMAs
df = pd.merge(
    df,
    df_gaema,
    how='left',
    left_on='id_gaema',
    right_on='id_gaema',
)

# Results
display(df.head(3))

,id_gaema,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,gaema_complemento,gaema_bairro,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link
0,1,I,Núcleo Vale do Paraíba,Dr. Laerte Fernando Levai,4º PJ de São José dos Campos,Praça Melvin Jones,22,NaN,Jardim São Dimas,12245-360,São José dos Campos,(12) 3941-3292,gaemaps@mpsp.mp.br,http://www.mpsp.mp.br/portal/page/portal/cao_u...,"Ato Normativo nº 552/08-PGJ, de 04/09/08",http://biblioteca.mp.sp.gov.br/PHL_img/ATOS/55...
1,2,II,Núcleo Vale do Ribeira,Dr. Nilton de Oliveira Mello Neto,3º PJ de Registro,Avenida Clara Gianotti de Souza,102,Salas 106 e 108,Centro,11900-000,Registro,(13) 3821-2934 / 3821-4844,gaemavr@mpsp.mp.br,http://www.mpsp.mp.br/portal/page/portal/cao_u...,"Ato Normativo nº 552/08-PGJ, de 04/09/08",http://biblioteca.mp.sp.gov.br/PHL_img/ATOS/55...
2,3,III,Núcleo Baixada Santista,Dra. Flávia Maria Gonçalves,10ª PJ de São Vicente,Avenida Conselheiro Nébias,756,5º andar / conj. 505,Boqueirão,11013-300,Santos,(13) 3221-6257,gaemabs@mpsp.mp.br,http://www.mpsp.mp.br/portal/page/portal/cao_u...,"Ato Normativo nº 552/08-PGJ, de 04/09/08",http://biblioteca.mp.sp.gov.br/PHL_img/ATOS/55...

,id_municipio,municipio_nome,id_gaema,id_redeprotetiva,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,gaema_complemento,gaema_bairro,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link
0,3500105,Adamantina,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3500204,Adolfo,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3500303,Aguaí,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<br>

## Município Rede Protetiva

In [8]:
# Dataframe Rede Protetiva
df_redeprotetiva = pd.read_csv(os.path.join('data', 'tabs', 'input', 'tab_redeprotetiva.csv'))
display(df_redeprotetiva.head(3))

# Merge Rede Protetiva
df = pd.merge(
    df,
    df_redeprotetiva,
    how='left',
    left_on='id_redeprotetiva',
    right_on='id_redeprotetiva',
)

# Results
display(df.head(3))

   id_redeprotetiva rp_num         rp_nome              rp_ugrhi
0                 1      I     Mantiqueira     UGRHI Mantiqueira
1                 2     II  Sapucaí/Grande  UGRHI Sapucaí/Grande
2                 3    III  Tietê/Sorocaba  UGRHI Tietê/Sorocaba

,id_municipio,municipio_nome,id_gaema,id_redeprotetiva,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,...,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link,rp_num,rp_nome,rp_ugrhi
0,3500105,Adamantina,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XI,Aguapeí/Peixe,UGRHI Aguapeí/Peixe
1,3500204,Adolfo,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Baixo Tietê,UGRHI Baixo Tietê
2,3500303,Aguaí,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu

In [9]:
# Results
df.to_csv(
    os.path.join('data', 'tabs', 'output', 'tab_municipio_gaema_rp.csv'),
    index=False,
)
df.head()

,id_municipio,municipio_nome,id_gaema,id_redeprotetiva,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,...,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link,rp_num,rp_nome,rp_ugrhi
0,3500105,Adamantina,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XI,Aguapeí/Peixe,UGRHI Aguapeí/Peixe
1,3500204,Adolfo,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Baixo Tietê,UGRHI Baixo Tietê
2,3500303,Aguaí,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu
3,3500402,Águas da Prata,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu
4,3500501,Águas de Lindóia,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu